/*
 *  Global Color Variables
 */
$color-web-orange: #ffa700;
$color-amber: #ffc200;
$color-black: #000;
$color-white: #FFF;
$color-catskill-white: #f1f5f9;
$color-bombay: #afb0b1;
$color-black-pearl: #051622;
