@use 'typography.scss' as *;
@use 'colors.scss' as *;
@use 'breakpoints.scss' as *;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-black-pearl;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-black-pearl;
}

a {
  color: $color-web-orange;
  text-decoration: none;

  &:hover {
    color: $color-black-pearl;
  }
}
