@use 'sass:map';

/**
 * Global Typography Variables
 */
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-md: 1.125rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 1.75rem;
$font-size-3xl: 2rem;
$font-size-4xl: 2.5rem;
$font-size-5xl: 3rem;
$font-size-6xl: 4rem;

@mixin font-primary() {
  font-family:
    Roboto,
    'Noto Sans TC',
    'Noto Sans SC',
    'Noto Sans JP',
    'Noto Sans KR',
    Prompt,
    sans-serif,
    'Microsoft JhengHei';
}

@mixin font-montserrat() {
  font-family: Montserrat, sans-serif;
}

@mixin font-weight($weight) {
  $weights: (
    thin: 100,
    extra-light: 200,
    light: 300,
    normal: 400,
    medium: 500,
    bold: 700,
    black: 900,
  );
  $output: $weight;

  @if map.has-key($weights, $weight) {
    $output: map.get($weights, $weight);
  }

  font-weight: $output;
}
