/*
 *  Global Color Variables
 */
$color-web-orange: #ffa700;
$color-amber: #ffc200;
$color-black: #000;
$color-white: #FFF;
$color-catskill-white: #f1f5f9;
$color-bombay: #afb0b1;
$color-alto: #cfcfcf;
$color-black-pearl: #051622;
$color-gallery: #f0f0f0;
$color-gray: #808080;
$color-goblin: #409343;
$color-fruit-salad: #4caf50;
$color-alabaster: #fafafa;
