/*
 *  Global Color Variables
 */
$color-orange-primary: #ffa700;
$color-yellow-primary: #ffc200;
$color-dark: #000;
$color-white: #fff;
$color-light: #f1f5f9;
$color-white-gray: #afb0b1;
$color-shadow-gray: #cfcfcf;
$color-dark-blue: #051622;
$color-white-light: #f0f0f0;
$color-shadow-middle-gray: #808080;
$color-green-dark: #409343;
$color-green-normal: #4caf50;
$color-white-middle: #fafafa;
$color-gray-shadow: #ddd;
