/**
 * Global Typography Variables
 */
$font-size-normal: 1rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;
$font-size-large-l: 2.5rem;
$font-size-large-xl: 3rem;
$font-size-large-xxl: 4rem;

@mixin font-roboto-slab() {
  font-family:
    Roboto,
    'Noto Sans TC',
    'Noto Sans SC',
    'Noto Sans JP',
    'Noto Sans KR',
    Prompt,
    sans-serif,
    'Microsoft JhengHei';
}

@mixin font-monserrat {
  font-family: Montserrat, sans-serif;
}

@mixin font-weight($weight) {
  $weights: (
    thin: 100,
    extra-light: 200,
    light: 300,
    normal: 400,
    medium: 500,
    bold: 700,
    black: 900,
  );

  $output: $weight;

  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }

  font-weight: $output;
}
